@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* General Colors */
    --tw-shadow-color: 0 0% 4%; /* Shadow Color - Black (or Onyx) */

    /* Light Theme Colors */
    --background: 207 50% 60%; /* Light Background - Sky Blue */
    --foreground: 0 0% 20%; /* Light Foreground - Dark Gray */

    --primary: 0 0% 9%; /* Light Primary Color - Eclipse */
    --primary-foreground: 0 0% 98%; /* Light Primary Foreground - Snow */

    --secondary: 0 0% 93%; /* Light Secondary Color - Bright Gray */
    --secondary-foreground: 0 0% 9%; /* Light Secondary Foreground - Eclipse */

    --card: 0 0% 100%; /* Light Card Background - White */
    --card-foreground: 0 0% 4%; /* Light Card Foreground - Black (or Onyx) */
    --popover: 0 0% 100%; /* Light Popover Background - White */
    --popover-foreground: 0 0% 4%; /* Light Popover Foreground - Black (or Onyx) */
    --muted: 0 0% 96%; /* Light Muted Color - Cultured */
    --muted-foreground: 0 0% 45%; /* Light Muted Foreground - Sonic Silver */
    --accent: 0 0% 96%; /* Light Accent Color - Cultured */
    --accent-foreground: 0 0% 9%; /* Light Accent Foreground - Eclipse */
    --destructive: 0 70% 54%; /* Light Destructive Color - Rosso Corsa */
    --destructive-foreground: 0 0% 98%; /* Light Destructive Foreground - Snow */
    --border: 0 0% 90%; /* Light Border - Platinum */
    --input: 0 0% 90%; /* Light Input Background - Platinum */
    --ring: 0 0% 4%; /* Light Ring - Black (or Onyx) */
    --radius: 0.5rem; /* Border Radius */

    /* Chart Colors */
    --chart-1: 320 64% 56%; /* Chart 1 - Magenta (or Violet Red) */
    --chart-2: 155 73% 44%; /* Chart 2 - Emerald */
    --chart-3: 207 29% 30%; /* Chart 3 - Charcoal */
    --chart-4: 90 54% 70%; /* Chart 4 - Granny Smith Apple */
    --chart-5: 45 100% 73%; /* Chart 5 - Light Gold */
  }

  .dark {
    /* Dark Theme Colors */
    --background: 0 0% 4%; /* Dark Background - Black (or Onyx) */
    --foreground: 0 0% 98%; /* Dark Foreground - Snow */

    --primary: 0 0% 98%; /* Dark Primary Color - Snow */
    --primary-foreground: 0 0% 9%; /* Dark Primary Foreground - Eclipse */

    --secondary: 0 0% 15%; /* Dark Secondary Color - Charleston Green */
    --secondary-foreground: 0 0% 98%; /* Dark Secondary Foreground - Snow */

    --card: 0 0% 4%; /* Dark Card Background - Black (or Onyx) */
    --card-foreground: 0 0% 98%; /* Dark Card Foreground - Snow */
    --popover: 0 0% 4%; /* Dark Popover Background - Black (or Onyx) */
    --popover-foreground: 0 0% 98%; /* Dark Popover Foreground - Snow */
    --muted: 0 0% 15%; /* Dark Muted Color - Charleston Green */
    --muted-foreground: 0 0% 64%; /* Dark Muted Foreground - Spanish Gray */
    --accent: 0 0% 15%; /* Dark Accent Color - Charleston Green */
    --accent-foreground: 0 0% 98%; /* Dark Accent Foreground - Snow */
    --destructive: 0 79% 36%; /* Dark Destructive Color - Carmine */
    --destructive-foreground: 0 0% 98%; /* Dark Destructive Foreground - Snow */
    --border: 0 0% 15%; /* Dark Border - Charleston Green */
    --input: 0 0% 15%; /* Dark Input Background - Charleston Green */
    --ring: 0 0% 82%; /* Dark Ring - Light Gray */

    /* Dark Mode Chart Colors */
    --chart-1: 220 67% 54%; /* Chart 1 - Royal Blue */
    --chart-2: 153 66% 50%; /* Chart 2 - Mountain Meadow */
    --chart-3: 16 100% 67%; /* Chart 3 - Coral */
    --chart-4: 282 49% 65%; /* Chart 4 - Amethyst */
    --chart-5: 340 100% 67%; /* Chart 5 - Watermelon */
  }
}
